@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    font-family: Poppins;
}
.bg-white-coce {
    background-color: #ffffff;
}
.bg-white-darker-coce {
    background-color: #f1f2f6;
}
.bg-purple-coce {
    background-color: #5352ed;
}

.send-button{
    color: #5352ed
}

.send-button:hover{
    background-color: #5352ed;
    color:white
}
#pesan:not(:empty)::after{
content: '';
}
#pesan:empty:not(:focus):after{
content: attr(placeholder);
font-size: 16px;
}
#pesan::after{
content: '';
}
#pesan {
    overflow: auto;
    outline: none;
    color: black;
    padding: 10px;
}
.my_msg_chat{
    word-wrap: break-word;
    float: right;
    background-color: #3742fa;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    display: block;
    animation: message 0.15s ease-out 0s forwards;
}
.stranger_msg_chat{
    word-wrap: break-word;
    float: left;
    background-color: #7f8fa6;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    display: block;
}
.warning_msg_chat{
    word-wrap: break-word;
    float: left;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: block;
}
.parent_my_msg_chat{
    display: block;
    height: auto;
}
#send_msg_tab{
    width: 480px;
    position: fixed;
    bottom: 0;
    height: 80px;
    display: flex;
}
#stranger{
    z-index: 100;
    width: 480px;
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
}
.bottomtopvisible{
    padding: 90px 5px
}
.main_container{
    width: 480px;
}
@keyframes message {
    0% {
        transform: translateX(45px) translateY(99px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
  }